<h1>App Component</h1>

<!-- <button (click)="incrementCounter()">Increment</button> -->

<h2>Dati River</h2>
<ul class="data">
    <li *ngFor="let dato of datas">
        {{dato.date | date :'short'}} - {{dato.quantity}}
        <!-- <img *ngIf="dato.icon === 'start'" src="./assets/images/start.svg" alt="">
             <img  *ngIf="dato.icon === 'equal'" src="./assets/images/equal.svg" alt="">
             <img *ngIf="dato.icon === 'down'" src="./assets/images/down.svg" alt="">
             <img *ngIf="dato.icon === 'up'" src="./assets/images/up.svg" alt=""> -->
        <img src="./assets/images/{{dato.icon}}.svg" alt="">
    </li>
</ul>

<router-outlet></router-outlet>